<!DOCTYPE html>
<html lang="en" xml:lang="en">

<head>
    <title>{% block title %}{% endblock title %}</title>
    <meta name='description' content='{% block meta_description %}{% endblock meta_description %}'>
    <meta name='keywords' content='{% block meta_keywords %}{% endblock meta_keywords %}'>
    {% include 'head.html' %}
</head>

<body>
    {% include 'header.html' %}

    {% block content %}
    {% endblock content %}

    {% include 'footer.html' %}
    {% include 'scripts.html' %}
</body>